{
	//R = Right, L = Left, D = Down, U = Up, C = Center, N = None

	//Textures
	//Size [x, y]
	//Position [x, y]
	//colorStride [?, ?]
	//variantStride [x, y] x = width of whole sheet, y = 0
	"pieces": {
		//Horizontal
		"N": {
			"textureSize": [8, 8],
			"texturePosition": [36, 18],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"C+C": {
			"textureSize": [8, 8],
			"texturePosition": [18, 63],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"C++C": {
			"textureSize": [8, 8],
			"texturePosition": [18, 72],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"C": {
			"textureSize": [8, 8],
			"texturePosition": [9, 9],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"C+": {
			"textureSize": [8, 8],
			"texturePosition": [27, 18],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"C++": {
			"textureSize": [8, 8],
			"texturePosition": [0, 27],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"C+++": {
			"textureSize": [8, 8],
			"texturePosition": [9, 27],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"C++++": {
			"textureSize": [8, 8],
			"texturePosition": [0, 36],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"C+++++": {
			"textureSize": [8, 8],
			"texturePosition": [9, 36],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"CC": {
			"textureSize": [8, 8],
			"texturePosition": [0, 45],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"CC+": {
			"textureSize": [8, 8],
			"texturePosition": [9, 45],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"CC++": {
			"textureSize": [8, 8],
			"texturePosition": [0, 54],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"CC+++": {
			"textureSize": [8, 8],
			"texturePosition": [9, 54],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"CCC": {
			"textureSize": [8, 8],
			"texturePosition": [0, 63],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"CCC+": {
			"textureSize": [8, 8],
			"texturePosition": [9, 63],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"CCC++": {
			"textureSize": [8, 8],
			"texturePosition": [0, 72],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"CCC+++": {
			"textureSize": [8, 8],
			"texturePosition": [9, 72],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"RL": {
			"textureSize": [8, 8],
			"texturePosition": [45, 0],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"UD": {
			"textureSize": [8, 8],
			"texturePosition": [45, 9],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"capD": {
			"textureSize": [8, 8],
			"texturePosition": [27, 0],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"capU": {
			"textureSize": [8, 8],
			"texturePosition": [36, 0],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"capL": {
			"textureSize": [8, 8],
			"texturePosition": [27, 9],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"capR": {
			"textureSize": [8, 8],
			"texturePosition": [36, 9],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"RD": {
			"textureSize": [8, 8],
			"texturePosition": [0, 0],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"RD+": {
			"textureSize": [8, 8],
			"texturePosition": [18, 27],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"LD": {
			"textureSize": [8, 8],
			"texturePosition": [18, 0],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"LD+": {
			"textureSize": [8, 8],
			"texturePosition": [27, 27],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"RU": {
			"textureSize": [8, 8],
			"texturePosition": [0, 18],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"RU+": {
			"textureSize": [8, 8],
			"texturePosition": [18, 36],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"LU": {
			"textureSize": [8, 8],
			"texturePosition": [18, 18],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"LU+": {
			"textureSize": [8, 8],
			"texturePosition": [27, 36],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"LDR": {
			"textureSize": [8, 8],
			"texturePosition": [9, 0],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"LDR+": {
			"textureSize": [8, 8],
			"texturePosition": [36, 27],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"LDR++": {
			"textureSize": [8, 8],
			"texturePosition": [36, 45],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"LDR+++": {
			"textureSize": [8, 8],
			"texturePosition": [36, 63],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"URD": {
			"textureSize": [8, 8],
			"texturePosition": [0, 9],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"URD+": {
			"textureSize": [8, 8],
			"texturePosition": [36, 36],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"URD++": {
			"textureSize": [8, 8],
			"texturePosition": [36, 54],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"URD+++": {
			"textureSize": [8, 8],
			"texturePosition": [36, 72],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"ULD": {
			"textureSize": [8, 8],
			"texturePosition": [18, 9],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"ULD+": {
			"textureSize": [8, 8],
			"texturePosition": [45, 27],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"ULD++": {
			"textureSize": [8, 8],
			"texturePosition": [45, 45],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"ULD+++": {
			"textureSize": [8, 8],
			"texturePosition": [45, 63],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"LUR": {
			"textureSize": [8, 8],
			"texturePosition": [9, 18],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"LUR+": {
			"textureSize": [8, 8],
			"texturePosition": [45, 36],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"LUR++": {
			"textureSize": [8, 8],
			"texturePosition": [45, 54],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		},
		"LUR+++": {
			"textureSize": [8, 8],
			"texturePosition": [45, 72],
			"colorStride": [0, 81],
			"variantStride": [54, 0]
		}
	},

	//I don't know what this is yet
	"representativePiece": "N",

	//Attachment Rules(Very Very Very Tricky to use)
	"rules": {
		"EqualsSelf": {
/*
			// with this rule every block ID only connects to itself
			"entries": [{
					//"EqualsSelf is if a tile of the same ID is on selected Axis
					"type": "EqualsSelf"
				}
			]
*/
			// with this rule every block ID connects to itself and the EqualsId s in the list (currently every not glass connects to itself and glass - glass uses a different .config)
			"join": "any",
			"entries": [{
					"type": "EqualsSelf"
				}, {
					"type": "EqualsId",
					"id": 30022 // madtulip_TS_glass
				}
			]
		},
		"NotEqualsSelf": {
/*
			"entries": [{
					//inverse does the opposite of what the type is, so this one is if the tile up or down, left or right does not equal the ID of this one
					"type": "EqualsSelf",
					"inverse": true
				}
			]
*/
			"join": "all",
			"entries": [{
					"type": "EqualsSelf",
					"inverse": true
				}, {
					"type": "EqualsId",
					"id": 30022, // madtulip_TS_glass
					"inverse": true
				}
			]
		},
		"Connects": {
			"entries": [{
					//Don't know yet do not touch
					"type": "Connects"
				}
			]
		},
		"Empty": {
			"entries": [{
					//Don't know yet do not touch
					"type": "Connects",
					"inverse": true
				}
			]
		}
	},

	"matches": [
		["main", [{
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "NotEqualsSelf"],
						[[0, 1], "NotEqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["RL", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "NotEqualsSelf"],
						[[1, 0], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["UD", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "EqualsSelf"],
						[[0, 1], "NotEqualsSelf"],
						[[-1, 0], "NotEqualsSelf"],
						[[1, 0], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["capD", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "NotEqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "NotEqualsSelf"],
						[[1, 0], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["capU", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "NotEqualsSelf"],
						[[0, 1], "NotEqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["capL", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "NotEqualsSelf"],
						[[0, 1], "NotEqualsSelf"],
						[[-1, 0], "NotEqualsSelf"],
						[[1, 0], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["capR", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "NotEqualsSelf"],
						[[0, 1], "NotEqualsSelf"],
						[[-1, 0], "NotEqualsSelf"],
						[[1, 0], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["N", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "EqualsSelf"],
						[[1, -1], "NotEqualsSelf"],
						[[-1, 1], "NotEqualsSelf"],
						[[-1, -1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["C+C", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "NotEqualsSelf"],
						[[1, -1], "EqualsSelf"],
						[[-1, 1], "EqualsSelf"],
						[[-1, -1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["C++C", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "NotEqualsSelf"],
						[[1, -1], "EqualsSelf"],
						[[-1, 1], "NotEqualsSelf"],
						[[-1, -1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["CCC", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "NotEqualsSelf"],
						[[1, -1], "NotEqualsSelf"],
						[[-1, 1], "NotEqualsSelf"],
						[[-1, -1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["CCC+", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "EqualsSelf"],
						[[1, -1], "NotEqualsSelf"],
						[[-1, 1], "NotEqualsSelf"],
						[[-1, -1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["CCC++", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "NotEqualsSelf"],
						[[1, -1], "NotEqualsSelf"],
						[[-1, 1], "EqualsSelf"],
						[[-1, -1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["CCC+++", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "EqualsSelf"],
						[[1, -1], "EqualsSelf"],
						[[-1, 1], "EqualsSelf"],
						[[-1, -1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["C", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "NotEqualsSelf"],
						[[1, -1], "NotEqualsSelf"],
						[[-1, 1], "NotEqualsSelf"],
						[[-1, -1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["C+", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "EqualsSelf"],
						[[1, -1], "NotEqualsSelf"],
						[[-1, 1], "EqualsSelf"],
						[[-1, -1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["C++", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "EqualsSelf"],
						[[1, -1], "EqualsSelf"],
						[[-1, 1], "EqualsSelf"],
						[[-1, -1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["C+++", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "NotEqualsSelf"],
						[[1, -1], "EqualsSelf"],
						[[-1, 1], "EqualsSelf"],
						[[-1, -1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["C++++", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "EqualsSelf"],
						[[1, -1], "EqualsSelf"],
						[[-1, 1], "NotEqualsSelf"],
						[[-1, -1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["C+++++", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "NotEqualsSelf"],
						[[1, -1], "EqualsSelf"],
						[[-1, 1], "NotEqualsSelf"],
						[[-1, -1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["CC", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "NotEqualsSelf"],
						[[1, -1], "NotEqualsSelf"],
						[[-1, 1], "EqualsSelf"],
						[[-1, -1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["CC+", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "EqualsSelf"],
						[[1, -1], "EqualsSelf"],
						[[-1, 1], "NotEqualsSelf"],
						[[-1, -1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["CC++", [0, 0]]]
				}, {
					"matchAllPoints": [
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "EqualsSelf"],
						[[1, -1], "NotEqualsSelf"],
						[[-1, 1], "EqualsSelf"],
						[[-1, -1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["CC+++", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "EqualsSelf"],
						[[0, 1], "NotEqualsSelf"],
						[[-1, 0], "NotEqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, -1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["RD", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "EqualsSelf"],
						[[0, 1], "NotEqualsSelf"],
						[[-1, 0], "NotEqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, -1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["RD+", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "EqualsSelf"],
						[[0, 1], "NotEqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "NotEqualsSelf"],
						[[-1, -1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["LD", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "EqualsSelf"],
						[[0, 1], "NotEqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "NotEqualsSelf"],
						[[-1, -1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["LD+", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "NotEqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "NotEqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["RU", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "NotEqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "NotEqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["RU+", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "NotEqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "NotEqualsSelf"],
						[[-1, 1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["LU", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "NotEqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "NotEqualsSelf"],
						[[-1, 1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["LU+", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "EqualsSelf"],
						[[0, 1], "NotEqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, -1], "EqualsSelf"],
						[[-1, -1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["LDR", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "EqualsSelf"],
						[[0, 1], "NotEqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, -1], "NotEqualsSelf"],
						[[-1, -1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["LDR+", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "EqualsSelf"],
						[[0, 1], "NotEqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, -1], "NotEqualsSelf"],
						[[-1, -1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["LDR++", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "EqualsSelf"],
						[[0, 1], "NotEqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, -1], "EqualsSelf"],
						[[-1, -1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["LDR+++", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "NotEqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "EqualsSelf"],
						[[1, -1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["URD", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "NotEqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "NotEqualsSelf"],
						[[1, -1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["URD+", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "NotEqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "NotEqualsSelf"],
						[[1, -1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["URD++", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "NotEqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "EqualsSelf"],
						[[1, -1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["URD+++", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "NotEqualsSelf"],
						[[-1, 1], "EqualsSelf"],
						[[-1, -1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["ULD", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "NotEqualsSelf"],
						[[-1, 1], "NotEqualsSelf"],
						[[-1, -1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["ULD+", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "NotEqualsSelf"],
						[[-1, 1], "EqualsSelf"],
						[[-1, -1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["ULD++", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "EqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "NotEqualsSelf"],
						[[-1, 1], "NotEqualsSelf"],
						[[-1, -1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["ULD+++", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "NotEqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "EqualsSelf"],
						[[-1, 1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["LUR", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "NotEqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "NotEqualsSelf"],
						[[-1, 1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["LUR+", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "NotEqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "EqualsSelf"],
						[[-1, 1], "NotEqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["LUR++", [0, 0]]]
				}, {
					"matchAllPoints": [
						//-1, 0 = Left, 1, 0 = Right, 0, -1 = Down, 0, 1 = Up
						[[0, -1], "NotEqualsSelf"],
						[[0, 1], "EqualsSelf"],
						[[-1, 0], "EqualsSelf"],
						[[1, 0], "EqualsSelf"],
						[[1, 1], "NotEqualsSelf"],
						[[-1, 1], "EqualsSelf"]
					],
					"haltOnMatch": true,
					"pieces": [["LUR+++", [0, 0]]]
				}
			]
		]
	]
}
